<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SLD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SLD.Properties.Settings>
            <setting name="update_RatedLength" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="update_Load" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="update_Rooms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="update_MaxLength" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="update_TotalLength" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_defaultTitleBlock" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="set_lastTitleBlock" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="set_roomsFromLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="update_Description" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_lastTitleBlockForCableList" serializeAs="String">
                <value>null</value>
            </setting>
        </SLD.Properties.Settings>
    </userSettings>
</configuration>